@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    margin: 0;
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
   


.top-area{
    background-color: #2D25A0;
    height: 677px;
    width: 1440px;
    display: flex;
    position: relative;
}

.textandbutton{
    
    color: white;
    width: 485px;
    position: absolute;
    left: 156px;
    top: 207px;
    line-height: 80px;
}

#big-text{
    font-size: 64px;
    margin: 0;
}

#play-button{
    display: flex;
    background-color: #E02C6D;
    height: 44px;
    width: 168px;
    text-decoration: none;
    align-items: center;
    justify-content:center;
    font-weight: 500;
    margin-top: 34px;
    
}
a:visited {
    color: white;
}


.fas{
    margin-left: 10px;
}


.banner{
    position:absolute;
    left: 740px;
    top: 135px;

}
.banner img{

    width: 556px;

}

.player-area{
    width: 1440px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    padding: 68px 180px;
}



.playerthumbnail img{
    width: 300px;
    height: 256px;
}