@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    margin: 0;
    background-color: whitesmoke;
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}
   


.top-area{
    background-color: #2D25A0;
    height: 677px;
    width: 1440px;
    display: flex;
    position: relative;
}

.textandbutton{
    
    color: white;
    width: 485px;
    position: absolute;
    left: 156px;
    top: 207px;
    line-height: 80px;
}

#big-text{
    font-size: 64px;
    margin: 0;
    font-weight: 700;

}

#play-button{
    display: flex;
    background-color: #E02C6D;
    height: 44px;
    width: 168px;
    text-decoration: none;
    align-items: center;
    justify-content:center;
    font-weight: 500;
    margin-top: 34px;
    
}
a:visited {
    color: white;
}


.fas{
    margin-left: 10px;
}


.banner{
    position:absolute;
    left: 740px;
    top: 135px;

}
.banner img{

    width: 556px;

}

.player-area{
    width: 1440px;
    background-color: white;
    
}

.grid-area{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    padding: 68px 180px;
    grid-gap: 30px;

}

.player-card{

    padding: 15px;
    
    box-shadow: 0 0 40px rgba(0, 0, 0, .15);
}

.playerthumbnail img{
    width: 300px;
    height: 256px;
    margin-bottom: 15px;
}

.player-name{

    color: #18191F;
    font-weight:bold;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
}
.player-description{

    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0;
}

.bottom-area{
    width: 1440px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;}

#logo{

    width: 484px;
}


.social-icons img{

    height: 32px;
    width: 32px;
    margin: 7px

}

.bottom-area span{

    margin-top: 15px;
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    main{
        width: 360px;
    }


    .top-area{
        background-color: #2D25A0;
        height: 695px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .textandbutton{
    
        color: white;
        position: absolute;
        width: 278px;
        line-height: 50px;
        left: 12px;
        top: 112px;
    }

    #big-text{
        font-size: 36px;
    }

    #play-button{
        margin-top: 30px;
    }

    .banner{
        position:absolute;
        width: 329px;
        left: 15px;
        top: 374px;

    }

    .banner img{

        width: 100%;
    
    }

    .player-area{
        width: 100%;
    }

    .grid-area{
        display: flex;
        flex-direction: column;
        padding: 47px 15px;
        grid-gap: 24px;

    
    }

    
    .bottom-area{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    #logo{

        width: 80%;
    }



}



